.spinner {
  position: absolute;
  top: 48%;
  left: 48%;
  width: 80px;
  text-align: center;
}
.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #201f45;
  z-index: 999999;
  }
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out both;
  animation: sk-bouncedelay 1.2s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) 
  }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 
  40%{ 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
body {
    margin: 0;
    min-width: 250px;
  }


  * {
    box-sizing: border-box;
  }


  ul {
    margin: 0;
    padding: 0;
  }


  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;


    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


  ul li:nth-child(odd) {
    background: #f9f9f9;
  }



  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }

  .header {
    background-color: white;
    padding: 30px 40px;
    color: black;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
  }


  .header:after {
    content: "";
    display: table;
    clear: both;
  }


  input {
    margin: 0;
    border: none;
    border-radius: 25px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }

  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 25px;
    font-family: 'Muli', sans-serif;
  }

  .addBtn:hover {
    background-color: #5089e5;
  } 

  #myInput{
    outline: none;
    font-family: 'Muli', sans-serif;
  }
#box{
  border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding: 5px; 
   margin: 10px;
   font-family: 'Muli', sans-serif;
}
.place {
  border-radius: 25px;
}
.place:hover {
 background-color: #5089e5;
}

.count {
  font-family: 'Muli', sans-serif;
  text-align: center;
  font-size: 25px;
}
.mess {
  border-radius: 25px;
}
#section04 a {
  padding-top: 80px;
}
.destroy {
  background-color: #5089e5;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
   margin-left: 1000px;

} 
input[type="checkbox"]{
  width: 20px;
  height:30px;
  background-color:white;
  border-radius: 25px;
  border: 1px solid #555;
}
/* .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}
input:checked + .slider {
  background-color: #201f45;
}
input:focus + .slider {
  box-shadow: 0 0 1px #201f45;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} */